<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Welcome to Caveman!</title>
  <link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen, tv, print" charset="UTF-8" />
</head>
<body>
<% (setf my-val "Jacek ma kota") %>
<% @with my-val %>
<% @include includes/toolbar.tmpl %>
<% @endwith %>
<h1>Just to say Hello</h1>
<p>
<%= (format nil "~S ~S " (caveman:app-path)(caveman:current-uri)) %>
</p>

<hr>

<hr>

<p> session: <% @var caveman:*session*  -escape html%> </p>

<p> context: <% (describe (caveman:context ) )  %></p>

hash table
<% (setf ht (caveman:context )) %>
hhhhhhhhhhhhh
<%=
(maphash #'(lambda (k v) (progn (format t "<br>")(format t " ~s ^^^ " k)(describe v)(format t "<br>")))   ht)
%>
hhhhhhhhhhhh
<hr>
rr in hash table
<%= (setf rq (gethash :request ht))%>
descriibing rq <% (describe rq)%>
<br>stots machine <%= (describe ()) %>

<br> rq object slots 
<%= (format t "~S" (mapcar #'sb-pcl:slot-definition-name (sb-pcl:class-slots (class-of rq)))) %>
<br>
<%= 
(loop for the-slot in (mapcar #'sb-pcl:slot-definition-name (sb-pcl:class-slots (class-of rq))) do (if (slot-boundp rq the-slot)
                                     (format t "     value: ~S slot: ~S <br>" (slot-value rq the-slot) the-slot)
                                   )) 

 %>
<%=
#| this is how you can inspect clos object, but it won't work with caveman for some reason |#
(loop for the-slot in (mapcar #'sb-pcl:slot-definition-name (sb-pcl:class-slots (class-of rq))) collect (list the-slot  (if (slot-boundp rq the-slot)
                                     (slot-value rq the-slot)
                                   "unbound"))) 
 %>
<h4>server port</h4>
<%=  (slot-value rq 'CLACK.REQUEST:SERVER-NAME ) %>
<br>


<p><% (describe (caveman:context :response)) %></p>
<p><% (describe flintstone.controller::zum) %> <% (describe (list-all-packages)) %></p>

<p>
<% ;;list sybbols in packages
   (with-package-iterator (next-symbol (list-all-packages)
                            :external)
     (loop
       (multiple-value-bind (more? symbol) (next-symbol)
         (if more? 
            (print symbol)
            (return)))))
%>
</p>
</body>
</html>
